$primary: #ff5733;
$secondary: #4b8cff;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$body-bg: #f0f0f0;

@import '../node_modules/bootstrap/scss/bootstrap';
