/* Календарь (DatePicker) */
.react-datepicker {
    border: none
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.react-datepicker__day {
  color: var(--bs-dark);
}

.react-datepicker__day:hover {
  background-color: var(--bs-primary);
  color: var(--bs-primary);
}

.react-datepicker__day--selected {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.react-datepicker__current-month{
  color: var(--bs-white);
}

.react-datepicker__day-name{
  color: var(--bs-white);
}

.react-datepicker__day--selected:not([aria-disabled=true]):hover {
  background-color: var(--bs-secondary);
  color: var(--bs-white);
}

.react-datepicker__day--keyboard-selected {
  background-color: none;
  color: var(--bs-dark);
}

.react-datepicker__navigation {
  padding-top: 15px;
}