// @import './custom';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -bottom: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.bottom-nav {
  z-index: 1000;
}

$theme: "lux"; // Название темы

// Переопределение переменных до подключения Bootstrap
$primary: #6E8B6D;
$secondary: #A8C3A0;
$success: #719c64;
$info: #7c87ac;
$warning: #a49870;
$danger: #9c6471;
$light: #d4e1d0;
$dark: #3B4F3D;

// Импорт темы Bootswatch
@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
